<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moj.nested">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".ViewOffsetActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".HeaderImageActivity" />
        <activity android:name=".page.FollowUpActivity" />
        <activity android:name=".page.AvatarActivity" />
        <activity android:name=".page.TwoActivity" />
        <activity android:name=".huawei.SearchActivity" />
        <activity android:name=".huawei.MarketActivity" />
        <activity android:name=".ScrollLayoutActivity" />
        <activity android:name=".StickyLayout.StickyActivity" /> <!-- <activity android:name=".page.AppBarTwoActivity" /> -->
        <!-- <activity android:name=".page.AppBarThreeActivity" /> -->
        <!-- <activity android:name=".page.AppBarCoordiActivity" /> -->
        <activity android:name=".stickyScrollView.StickyScrollViewActivity" />
        <activity android:name=".hencoder.ScrollActivity" />
    </application>

</manifest>